
# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Ignore the entire virtual environment
/.venv